{% extends "base.html" %}


{% block content %}

  <main>
    {% for post in post_list %}
        <div
          class="bg-gray-100 w-7/12 h-60 m-auto my-8 rounded-md shadow-md overflow-hidden relative"
        >
          <a href="{% url 'post' post.id %}" class="inline-block"><img class="w-60 h-60 object-cover" src="{{ post.cover.url }}" alt="Cover" /></a>

          <div class="flex justify-between items-center mb-4 absolute top-5 left-72 w-[650px]">
            
            <a href="{% url 'post' post.id %}"> 
              <h4 class="text-gray-500 font-bold text-xl truncate w-[400px]">
                {{ post.title }}
              </h4>
            </a>

            {% if request.user.is_authenticated %}
              {% if blog_user.id == post.author.id %}
                <a href="{% url 'update_post' post.id %}" class="text-blue-400 hover:text-blue-300">修改文章</a>
              {% endif %}
            {% endif %}
              
            

          </div>

          <p
            class="text-gray-400 text-clip my-6 inline-block absolute top-10 left-72 w-[650px] h-28 overflow-hidden"
          >
            {{ post.body }}
          </p>

          <div class="flex justify-between absolute bottom-6 left-72 w-[650px]">
            <p class="text-gray-600">作者: {{ post.author }}</p>
            <p class="text-gray-400">时间: {{ post.created }}</p>
          </div>
        </div>
        

    {% endfor %}
  </main>

{% endblock content %}

