{% extends "base.html" %}


{% block content %}

  <main>
    {% for post in post_list %}
      <div class="bg-gray-100 w-7/12 h-60 m-auto my-8 rounded-md shadow-md overflow-hidden flex justify-between">
        <!-- 图片 -->
        <div class="basis-2/6">
          <a href="{% url 'post' post.id %}" class="inline-block">
            <img class="object-cover" src="{{ post.cover.url }}" alt="Cover" />
          </a>
        </div>

        <!-- 内容概览 -->
        <div class="basis-4/6">
          <!-- 标题栏 -->
          <div class="flex justify-between p-4">
            <a href="{% url 'post' post.id %}" class="basis-3/4">
              <h4 class="text-gray-500 font-bold text-xl lg:w-[300px] md:w-[150px] truncate">
                {{ post.title }}
              </h4>
            </a>

            {% if request.user.is_authenticated and blog_user.id == post.author.id%}
            <a href="{% url 'update_post' post.id %}" class="text-blue-400 hover:text-blue-300">修改文章</a>
            {% endif %}

          </div>

          <!-- 文章概要 -->
          <p class="text-gray-400 text-clip inline-block overflow-hidden select-none p-4 h-28">
            {{ post.body }}
          </p>

          <!-- 文章信息 -->
          <div class="flex justify-between p-4">
            <p class="text-gray-600">作者: {{ post.author }}</p>
            <p class="text-gray-400">时间: {{ post.created }}</p>
            
          </div>
        </div>
      </div>     

        
    {% endfor %}

    {% include "pagination.html" with page=post_list  %} 
  
  </main>

{% endblock content %}

