__pycache__/
node_modules/
dist/
venv/
.pytest_cache/

venv_simpleBlog/
migrations/
.vscode/
reports/

# static file 
static/images/profiles/*
static/images/covers/*
!static/images/profiles/user-default.png
!static/images/covers/cover-default.png

db.sqlite3
pnpm-lock.yaml
package-lock.json
.coverage
